:root {
  --color-bg: #e1e8e9;
  --color-fg: #242f45;
  --color-accent: #4c5c96;
  --color-accent-dark: #78809d;
  --color-accent-light: #809fcd;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar" "container";
  gap: 1vh;
}

.container {
  display: grid;
  grid-template-areas: "navbar" "content";
  gap: 1vh;
  grid-area: "container";
}

.tab-container {
  grid-area: "navbar";
  border: none !important;
  border-radius: 20px !important;
  overflow: hidden;
  margin: 5px !important;
  padding: 0 !important;
}

.tab {
  color: var(--color-bg) !important;
  background-color: var(--color-accent-dark) !important;
  padding: 12px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.tab--selected {
  color: var(--color-bg) !important;
  background-color: var(--color-accent) !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: inset 0px 0px 8px rgba(55, 55, 55, 0.8);
}

.tab-custom {
  display: grid;
  grid-area: "content";
  grid-template-columns: 1fr;
  gap: 20px;
  height: 100vh;
}

#tab-latentspace {
  grid-template-areas: "latentspace" "hover-preview";
}

#tab-failures {
  grid-template-areas: "sidebar-fail" "failure-view";
}

.hover-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: hover-preview;
  max-width: 100%;
  margin: 1vw;
  padding: 0.5vw;
  background-color: var(--color-bg);
}

.hover-preview img {
  max-width: 100%;
  height: auto;
}

.latentspace {
  grid-area: latentspace;
  max-width: 100%;
  height: 100vw; /* square plot in single column layout: height == width */
  padding: 1vw;
  background-color: var(--color-bg);
}
.latentspace-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  width: calc(100% - 2vw);
  height: calc(100vw - 2vw);
}

#sidebar {
  /* width: 20%; */
  grid-area: sidebar;
  max-width: 100%;
  margin: 1vw;
  padding: 0.5vw;
  background-color: var(--color-bg);
}

.representative-view {
  /* width: 20%; */
  grid-area: representative-view;
  max-width: 100%;
  margin: 1vw;
  padding: 0.5vw;
  background-color: var(--color-bg);
  min-height: 90vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vh;
}

.failure-view {
  grid-area: failure-view;
  max-width: 100%;
  margin: 1vw;
  padding: 0.5vw;
  background-color: var(--color-bg);
  min-height: 90vh;
}

.failure-img-container,
.failure-img-container-active {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "failure-img failure-stat";
}
.failure-img-container-active {
  background-color: var(--color-accent);
  color: var(--color-bg);
  box-shadow: inset 0px 0px 5px rgba(55, 55, 55, 0.8);
}
.failure-img {
  grid-area: failure-img;
}
.failure-desc {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.failure-stat {
  grid-area: failure-stat;
  height: 100%;
  width: 100%;
  padding: 2% 0;
}
.failure-stat p {
  height: 24%;
  line-height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-family: monospace;
  margin: 0;
}

.cluster-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  aspect-ratio: 1/1;
  width: 100%;
  padding: 5%;
}

.cluster-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cluster-container div p {
  width: 128px;
}

.cluster-container-container,
.cluster-container-container-active {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cluster-container-container-active {
  background-color: var(--color-accent);
  color: var(--color-bg);
  box-shadow: inset 0px 0px 5px rgba(55, 55, 55, 0.8);
}

.slider {
  width: 80%;
}

.rc-slider-rail {
  background-color: var(--color-accent-dark);
}
.rc-slider-dot {
  border-color: var(--color-accent-dark);
  background-color: var(--color-bg);
}

.rc-slider-track {
  background-color: var(--color-accent-light);
}
.rc-slider-dot-active,
.rc-slider-handle {
  border-color: var(--color-accent-light) !important;
  background-color: var(--color-bg);
}

.rc-slider-mark-text {
  color: var(--color-accent-dark);
}
.rc-slider-mark-text-active {
  color: var(--color-fg) !important;
}

.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.2vh 0;
}

.slider-container p {
  width: 20%;
  padding: 0 5px;
}

.file-path {
  line-height: 1rem !important;
  font-size: 1rem !important;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: var(--color-fg);
  background-color: var(--color-bg);
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
h1 {
  font-size: 4.5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
h4 {
  font-size: 2.6rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}
h5 {
  font-size: 2.2rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}
h6 {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

p {
  margin-top: 0;
}

/* Blockquotes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
  border-left: 4px lightgrey solid;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1eaedb;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  color: #0fa0ce;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0px;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border-collapse: collapse;
}
th:not(.CalendarDay),
td:not(.CalendarDay) {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child:not(.CalendarDay),
td:first-child:not(.CalendarDay) {
  padding-left: 0;
}
th:last-child:not(.CalendarDay),
td:last-child:not(.CalendarDay) {
  padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 0rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 0rem;
}
pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem;
}
p,
ul,
ol {
  margin-bottom: 0.75rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.tab-content:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
@media (min-width: 1300px) {
  .tab-custom {
    height: 93vh;
  }
  #tab-latentspace {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "latentspace hover-preview";
  }

  #tab-failures {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "representative-view failure-view";
  }
  .tab-container {
    height: calc(5vh - 10px);
    grid-area: "navbar";
  }
  .latentspace {
    height: 93vh;
  }
  .latentspace-loading {
    height: calc(93vh - 2vw);
  }
}
