:root {
  --color-bg: #e1e8e9;
  --color-fg: #242f45;
  --color-accent: #4c5c96;
  --color-accent-dark: #78809d;
  --color-accent-light: #809fcd;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1rem;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-fg);
  background-color: var(--color-bg);
  height: 100%;
  padding: 0;
  margin: 0;
}

.app-container,
.app-container-hide-menu {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar" "container";
  gap: 1vh;
}

.container {
  width: 100%;
  display: grid !important;
  grid-template-areas: "navbar" "content";
  grid-template-rows: min-content 1fr;
  gap: 1vh;
  grid-area: container;
}

.tab-container {
  grid-area: navbar;
  border: none !important;
  border-radius: 20px !important;
  overflow: hidden;
  margin: 5px !important;
  padding: 0 !important;
  justify-self: right;
  width: 100%;
  transition: width 0.3s, left 0.3s;
}

.tab {
  color: var(--color-bg) !important;
  background-color: var(--color-accent-dark) !important;
  padding: 12px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.tab--selected {
  color: var(--color-bg) !important;
  background-color: var(--color-accent) !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: inset 0px 0px 8px rgba(55, 55, 55, 0.8);
}

.tab-custom {
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr;
  gap: 20px;
  height: 100vh;
}

#tab-latentspace {
  grid-template-areas: "latentspace" "hover-preview";
}

#tab-failures {
  grid-template-areas: "sidebar-fail" "failure-view";
}

.hover-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: hover-preview;
  max-width: 100%;
  margin: 1vw;
  padding: 0.5vw;
  background-color: var(--color-bg);
}

.hover-preview img {
  max-width: 100%;
  height: auto;
}

.latentspace {
  grid-area: latentspace;
  max-width: 100%;
  height: 100vw; /* square plot in single column layout: height == width */
  padding: 1vw;
  background-color: var(--color-bg);
}
.latentspace-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  width: calc(100% - 2vw);
  height: calc(100vw - 2vw);
}

#sidebar {
  width: 100%;
  grid-area: sidebar;
  /* max-width: 100%; */
  margin: 0;
  padding: 2vw;
  background-color: var(--color-bg);
}

.representative-view-container {
  /* width: 20%; */
  grid-area: representative-view;
  max-width: 100%;
  margin: 1vw;
  padding: 0.5vw;
  background-color: var(--color-bg);
  min-height: 90vh;
}

.representative-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vh;
}

.failure-view-container {
  grid-area: failure-view;
  max-width: 100%;
  margin: 1vw;
  padding: 0.5vw;
  background-color: var(--color-bg);
  min-height: 90vh;
}

.failure-img-container,
.failure-img-container-active {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "failure-img failure-stat";
  align-items: center;
}
.failure-img-container-active {
  background-color: var(--color-accent);
  color: var(--color-bg);
  box-shadow: inset 0px 0px 5px rgba(55, 55, 55, 0.8);
}
.failure-img {
  grid-area: failure-img;
}
.failure-desc {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.failure-stat {
  grid-area: failure-stat;
  height: 100%;
  width: 100%;
  padding: 2% 0;
}
.failure-stat p {
  height: 24%;
  line-height: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-family: monospace;
  margin: 0;
}

.cluster-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  aspect-ratio: 1/1;
  width: 100%;
  padding: 5%;
}

.cluster-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cluster-container div p {
  width: 128px;
}

.cluster-container-container,
.cluster-container-container-active {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cluster-container-container-active {
  background-color: var(--color-accent);
  color: var(--color-bg);
  box-shadow: inset 0px 0px 5px rgba(55, 55, 55, 0.8);
}

.slider {
  width: 80%;
}

.rc-slider-rail {
  background-color: var(--color-accent-dark);
}
.rc-slider-dot {
  border-color: var(--color-accent-dark);
  background-color: var(--color-bg);
}

.rc-slider-track {
  background-color: var(--color-accent-light);
}
.rc-slider-dot-active,
.rc-slider-handle {
  border-color: var(--color-accent-light) !important;
  background-color: var(--color-bg);
}

.rc-slider-mark-text {
  color: var(--color-accent-dark);
}
.rc-slider-mark-text-active {
  color: var(--color-fg) !important;
}

.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.2vh 0;
}

.slider-container p {
  width: 20%;
  padding: 0 5px;
}

.file-path {
  line-height: 1rem !important;
  font-size: 0.7rem !important;
  font-family: monospace;
  word-wrap: break-word;
}

@media (min-width: 1300px) {
  .tab-custom {
    height: 93vh;
  }
  #tab-latentspace {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "latentspace hover-preview";
  }

  #tab-failures {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "representative-view failure-view";
  }
  .tab-container {
    height: max(calc(5vh - 10px), 1.5rem);
    grid-area: navbar;
  }
  .latentspace {
    height: 93vh;
  }
  .latentspace-loading {
    height: calc(93vh - 2vw);
  }
  .app-container,
  .app-container-hide-menu {
    position: absolute;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar container";
  }
}

.btn-menu {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3vh;
  padding: 0.5vw 0.5vw;
}

#app-container {
  transition: width 0.3s, left 0.3s;
}
.app-container {
  width: calc(100vw-1vh);
  left: 0;
}
.app-container-hide-menu {
  width: calc(125vw-1vh);
  left: -25vw;
}

.app-container-hide-menu .tab-container {
  width: 90%;
  justify-self: right;
  transition: width 0.3s, left 0.3s;
}
